#main {
    background-color: rgba(167, 144, 119, 0.375);
    height: 100vh;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    background-color: rgba(134, 71, 71, 0.291);
    justify-content: space-between;
    padding: 1rem;
    width: 99%;
    margin: 0 auto;
}

#searchField {
    height: 25px;
}

#search {
    height: 25px;
    font-size: 14px;
    border: 1px solid black;

}


.navbar ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;

}

.btn-sm {
    margin-left: 1rem;
}

.btn-outline-dark {
    --bs-btn-color: #68829c;
}

.navbar h2 {
    padding: 1rem;
}

.postContainer {
    display: flex;
    width: 60%;
    max-height: 230px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.119);
    padding: 10px;
    margin: 1rem;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postContainer h2 {
    font-size: medium;
}

.postContainer p {
    font-size: x-small;
}

.navbar ul li {
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.delete {
    border-radius: 10px;
    font-size: 15px;
    background: transparent;
    color: red;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    background-color: rgba(0, 0, 0, 0.151);
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.119);
    width: 430px;
    align-items: center;
    height: 400px;
    justify-content: center;

}

.singUp {
    position: relative;
    padding-top: 40px;
    font-size: 12px;
}

.form label {
    padding: 10px;
}

.form input {
    padding: 4px;
    margin: 5px;
}