body {
    background-color: antiquewhite;
}

.navbar {
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.postContainer {
    border: 1px solid black;
    padding: 10px;
    margin: 1rem;
}

.navbar ul li {
    padding-left: 15px;

}